 html, body {
		margin:0;
		padding:0;
		height:100%;
	}
#kalkulator {
	border-style: solid;
	height: 20%;
	width: 100%;
}
#formularz {
	border-style: solid;
	height: 100%;
	width:18%;
	float: right
}
#kontakt {
	height: 2%;
	width: 100%;
	text-align: center;
	border-style: solid;
}
/*.bl {
	margin-top: 3%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 3%;
	float: left;
	width: 25%;
	min-width: 300px;
	height: 25%;
}
.br {
	margin-top: 3%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 3%;
	float: right;
	width: 25%;
	height: 25%;
	min-width: 300px;
}
.boxx{
	margin-top: 4px;
	color:white;
	height: 90%;
	width: 100%;
	background-color: #e85f09

}*/
#container
{ 
 	min-height: 100%;
 	height: auto ;
 	height: 100%;
 	margin-bottom:-12px; /* - height of footer */
}
.content
{
	 /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

/*   Then we define how is distributed the remaining space 
  justify-content: space-around;*/
}
.box{
	flex: 1;
	background-color: #e85f09;
	 padding: 10px;
        margin: 10px;
}
#stopka, #push {clear:both; height:12px; background-color: #e85f09}
